<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="dashboard-container">

        
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>Hirata</h2>
            </div>
            
            <nav class="sidebar-nav">
                <ul>

                   

                    <li>
                        <a href="/camiones">
                            <span class="text">Camiones</span>
                        </a>
                    </li>

                    <li>
                        <a href="/mantenimiento">
                            <span class="text">Mantenimiento</span>
                        </a>
                    </li>

                    <li>
                        <a href="/equipos">
                            <span class="text">Equipos Informáticos</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="text">Sensores (Prototipo)</span>
                        </a>
                    </li>

                    

                </ul>
            </nav>
            
            
        </aside>

        
        

    </div>
</body>
</html>